
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  html, body, #map-canvas {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px
  }

  main{
    display: flex;
    width: 100%;
    height: 100%;
  }

  main > div:first-child {
    width: 25%;
    padding-left: 30px;
  }

  h2{
      text-align: center;
  }

  .button {
      margin-top: 30px;
  }

  main > div:last-child {
    width: 75%;
  }

  p:nth-child(2) {
    font-size: 13px;
  }

  input{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  button{
    padding: 10px;
    width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
  }

  input:focus, button:focus {
    outline: none;
  }

  button:active {
    background: rgba(0,0,0,0.5);
    color: #fff;
  }